* {
    margin: 0;
    padding: 0;
}

:root {
    --blue: #0B3C60;
    --grey: #EDECED;
    --green: #81B640;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 0.075fr auto 0.5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
}

header {
    grid-area: 1/1/2/span 12;
    width: 100%;
    height: auto;
    background: linear-gradient(to right, grey, black);
    background-image: url('../images/header-image.jpg');
    background-size: cover;
    background-position: left top;
    background-repeat: no-repeat;
    background-color: #080808;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.logo, .checkout {
    margin: 2rem 8rem;
}

.logo img {
    max-width: 100%;
    width: 100%;
}

h1 {
    color: var(--green);
    font-family: serif;
    font-style: italic;
    font-weight: lighter;
    font-size: 2rem;
}

.checkout {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-end;
}

.checkout img {
    max-width: 100%;
    width: 2.5rem;
    height: auto;
    margin: 0 .5rem;
}

.checkout p {
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    font-size: 1.25rem;
}

.checkout-icon {
    display: flex;
    flex-flow: row;
    align-items: flex-end;
    padding: 1rem 0;
}

nav {
    width: 100%;
    background-color: var(--grey);
    grid-area: 2/1/3/span 12;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
    padding: 1rem 0;
}

nav ul {
    grid-area: 1/3/span 1/ 11;
}

nav a {
    color: var(--blue);
    text-decoration: none;
    font-family: sans-serif;
    font-size: 1.5rem;
    font-weight: 800;
}

nav ul li {
    display: inline;
}

nav li+li:before {
    content: "/";
    margin: 0 1rem;
    padding: 0 1rem;
}

footer {
    background-color: var(--blue);
    grid-area: 5/1/span 1/span 12;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
}

.footer-content {
    margin: 2rem;
    width: 25%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    color: white;
    text-align: center;
    font-family: sans-serif;
    font-size: 1.2rem;
}

.footer-content p {
    font-weight: lighter;
}

.footer-content ul li {
    display: inline;
}

.footer-content li+li:before {
    content: "/";
    margin: 1rem;
    padding: 1rem;
}

.footer-content a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

footer img {
    max-width: 100%;
    width: 100%;
    height: auto;
}

.footer-content>* {
    margin: 1rem;
}

main {
    grid-area: 3/3/4/8;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
}

.main-description img {
    max-width: 100%;
    width: 100%;
    height: auto;
}

.main-description article {
    max-width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
}

h2 {
    font-family: serif;
    font-weight: bolder;
    color: var(--blue);
    font-size: 2rem;
}

.main-description h2 {
    margin: 1rem 0;
}

.main-description p {
    font-family: sans-serif;
    font-weight: 100;
    font-size: 1.3rem;
    line-height: 2rem;
}

.dogs {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: 2rem 0 5rem 0;
}

.dog-grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 576px) {
    .dog-grid {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }
    .dog-container {
        width: 100%;
        margin: 0.5rem 0;
    }
}

@media screen and (min-width: 768px) {
    .dog-container {
        width: 45%;
        margin: 0.5rem 0;
    }
}

@media screen and (min-width: 992px) {
    .dog-container {
        width: 30%;
        margin: 1rem 0.5rem;
    }
}

.dog-info {
    max-width: 100%;
    padding: 1rem;
    box-shadow: 0 0 5px grey;
}

.dog-info>* {
    margin: 0.5rem;
}

h3 {
    font-family: serif;
    color: var(--blue);
    font-size: 1.5rem;
}

.dog-info p {
    font-family: sans-serif;
    font-size: 0.8rem;
}

.cost-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.cost {
    font-weight: bold;
    margin-right: 0.5rem;
}

.dog-container img {
    max-width: 100%;
    width: 100%;
    height: auto;
}

.dogs button {
    background-color: var(--grey);
    color: var(--blue);
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 1.5rem;
    padding: 0.5rem 1.5rem;
    align-self: center;
    border: none;
    border-radius: 2px;
}

.dog-info button, .checkout a {
    background-color: var(--green);
    color: white;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 1rem;
    padding: .5rem;
    border: none;
    border-radius: 2px;
    width: 90%;
    text-align: center;
    text-decoration: none;
}

aside {
    grid-area: 3/9/4/11;
    width: 100%;
}

aside h2 {
    margin: 1.5rem 0;
}

.blog-item {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: flex-start;
    margin: 4rem 0;
}

.blog-item img {
    max-width: 100%;
    width: 100%;
    height: auto;
    margin: 0.5rem 0;
}

.blog-item p {
    font-family: sans-serif;
    font-size: 1rem;
    margin: 0.5rem 0;
    line-height: 2rem;
}

.blog-item a {
    text-decoration: none;
    font-family: sans-serif;
    color: #5BB2CA;
    margin: 0.5rem 0;
}

@media screen and (max-width: 576px) {
    aside {
        display: none;
    }
}